.container_favorites{
  width: 300px;
  min-height: 600px;
}
.main_wrapper{
  display: flex;
  height: 60vh;
  justify-content: space-around;
}
.container_pages{
  width: 60%;
}
.container_favorites-block{
  height: 100%;
  overflow: auto;
}
.modal-body p{
  font-weight: bold;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}

.spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.listRow{
  cursor: pointer;
}